html {
    font-size: 14px;
}

body {
    background-color: mistyrose;
    font-size: 20px;
}

.contenedor {
    background-color: palegreen;
    width: 50%;
    height: 400px;
}

.personas {
    background-color: peru;
    width: 50%;
    margin: 20px 30px 5px;
    padding: 20px 30px 5px;
    border: 6px dashed blue;
    border-radius: 2px;
}

.animales {
    background-color: peru;
    border-radius: 5px;
    display: inline;
}

.flex {
    width: 60%;
    height: 350px;
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex > div {
    width: 120px;
    display: inline-block;
    background-color: skyblue;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.alumnos {
    height: 25px;
    order: 3;
}

.profesores {
    height: 45px;
    order: 1;
}

.directores {
    height: 100px;
    order: 2;
}




