body {
    background-color: #fffbf7 ;
    font-size: 16px;
}
h1 {
    color: #8b8b8bcc;
    font-weight: bold;
  }
h3 {
    color: #46484c;
}
button {
    color: #fff;
    background-color: #025157;
}

li {
  display: inline;
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0px;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.menu {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.menu > * {
  display: inline-block;
}

.menu_item {
  margin-left: 25px;
  margin-right: 25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.sign_in {
  color: #67b54b;
}

.button_free_trial {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 12px;
  padding-top: 12px;
  border: 0px;
  border-radius: 5px;
}

.logo {
  width: 15%;
  display: inline-block;
}

.logo > img {
  height: 100%;
}